# Firebase Configuration
FIREBASE_PROJECT_ID=translatorwebsite-d753a
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----\n"

# Previous Database Configuration (can be removed after migration)
DATABASE_URL=your-postgres-url
